.imgBtn {
    width: 11%;
    margin-left: 9px;
}

    .imgBtn:hover {
        transform: translateY(-10px);
    }

th {
    width: 100px;
    color: #F76C6C;
}

tr {
    border-top: 2px solid #F76C6C;
}

td {
    color: #F8E9A1;
}

table {
    width: 40%;
    color: #F76C6C;
}

.trA {
    border-top: hidden;
    border-bottom:hidden;
}

.outsideEl {
    width: 3%;
    margin-left: 20px;
}

    .outsideEl:hover {
        transform: translateY(-10px);
    }

.card {
    margin: auto;
    text-align: center;
    width: 70%;
    border: 3px solid;
    border-radius: 20px !important;
    background-color: #24305E;
}
