/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: left;
    word-break: break-all;
}
span{
    position:relative;
    top:6px;
}
span:hover {
    color: #F8E9A1;
}
.navBLink:hover {
    color: #F8E9A1;
}

.navbar {
    height: 70px !important; /*i assume your navbar size 100px*/
    background-color: #374785;
    border-bottom: 3px solid #F76C6C !important;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* Provide sufficient contrast against white background */
a {
    color: #F76C6C;
}

.navbar .btn-primary {
    color: #F76C6C !important;
    background-color: #F8E9A1 !important;
    border-color: #1861ac;
    border-radius: 10px !important;
}
.navbar .btn-primary:hover {
    color: #F8E9A1 !important;
    background-color: #F76C6C !important;
    border-color: red;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #F8E9A1;
    background-color: #F8E9A1;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}
.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color:#A8D0E6;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
