.container-fluid {
    background-color: #24305E;
    border: 2px solid #F76C6C;
    border-radius: 30px;
    color: #F8E9A1;
    padding: 20px 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    width: 40%;
    text-align: center !important;
}

.container-fluid .pinkC {
    color: #F76C6C;
}

hr {
    border-top: 15px dotted #F76C6C;
    width: 5%;
}

h3 {
    color: #24305E;
    text-align: center;
}
