@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="script">
        <script src="~/js/admin-index.js"></script>
    </div>
</div>
<p>You are the admin of this web application so you control the access of the entities in database. For now, you can manage the available cars and stations. You can add a new car by filling in the required fields, you can delete a car, you can see the details of the cars and you can also change the attributes of the cars. In the same way you can manage the stations. By clicking on the menu button, you can choose what you want to manage, either cars or stations.</p>
